.dropdown-menu-d {
    background: red;
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
  }
  
  .dropdown-menu-d li {
    background: #c38c1f;
    cursor: pointer;
  }
  
  .dropdown-menu-d li:hover {
    background: #c49944;
  }
  
  .dropdown-menu-d.clicked {
    display: none;
  }
  
  .dropdown-link-d {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }
  